* {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', sans-serif;
}

body  {
  margin: 0;
  background-color: #fefefefe;
}

header{
  text-align: center;
  margin: 15px;
}

header h1, header p {
  margin: 5px;
}

header h5 {
  margin: 3px;
  font-size: 70%;
  color: blue;
}
 
header p  {
  font-size: 50%;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.chessBoard {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  display: flex;
  flex-direction: column;
}

.container  {
  display: flex;
  flex-direction: column;
  margin: 12px;
  width: 35%;
}

.buttons  {
  display: flex;
  justify-content: space-around;
}

.display  {
  text-align: center;
  display: flex;
  justify-content: center;
  height: 16px;
}

button {
  margin: 0;
  border: 1px solid transparent;
}

.border {
  padding: .5rem;
  background-color: #efddb4;
  border: none;
}

.row  {
  padding: calc( 1.2rem);
}

.active_count1 {
  padding: calc( 1.2rem);
  background-image: url("../images/blackQueen.jpg");
  border: 1px solid cornsilk;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.active_count2{
  padding: calc( 1.2rem);
  background-image: url("../images/whiteQueen.png");
  border: 1px solid cornsilk;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.dark {
  background-color: black;
}

.white {
  background-color: cornsilk;
}

div {
  display: flex;
}

.edge {
  display: flex;
  justify-content: space-between;
  background-color: #efddb4;
}

.display  {
  margin: 12px;
}

#check  {
  border-radius: 5px;
  background-color: mediumseagreen;
  padding: .5rem;
}

#refresh:hover ,#check:hover {
  scale: 0.95;
  cursor: pointer;
}

#refresh  {
  border-radius: 5px;
  background-color: lightblue;
  padding: .5rem;
}